.loginForm {
    display: flex;
    /* padding: 30px; */
}
.btn-dangnhap{
    min-width: 350px;
    border: none;
    background-color: #0066CC;
    border-radius: 8px;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-transform: uppercase
}
.text{
    min-width: 340px;
}
.btn-dangky{
    border: none;
    background-color: white;
    color: blue;
}
a{
    text-decoration: none;
    padding-left: 50px;
}
.container{
    padding-top: 50px;
}
input{
    border: solid 1px black;
}